/*日期插件*/
@charset "UTF-8";

/*!
 * Pikaday
 * Copyright © 2012 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    width: 240px;
    padding: 8px;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
}
.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    opacity: .5;
    *position: absolute;
    *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
}

.pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.pika-button {
    cursor: pointer;
    display: block;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align:center;
    background: #f5f5f5;
}

.is-today .pika-button {
    color: #33aaff;
    font-weight: bold;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.pika-button:hover {
    color: #fff !important;
    background: #ff8000 !important;
    box-shadow: none !important;
    border-radius: 3px !important;
}

body {
    background-color: #F5F5F5;
}

/*-- quality-life --*/
.container {
	width: 1000px;
	margin: 0 auto;
	padding: 0;	
	overflow: hidden;  
}
/*-- tab --*/
.container .show {
    display: block;
}
.container .articles-listing-box {
    display: none;
}

/*-- End tab --*/
.container .life-left {
	width: 70.5%;
	float: left;
}
.container .life-right {
	width: 28%;
	float: left;
	margin-left: 15px;
}
.container .articles-listing-title {
	margin-bottom: 20px;
}
.life-left .articles-listing-box .life-content:nth-of-type(odd) {
	margin-right: 25px;
}
.container .life-left .life-content {
	width: 340px;
	text-align: center;
	float: left;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}
.container .life-left .life-content img {
	margin-bottom: 13px;
}
.container .life-left .life-content p {
	color: #444;
	font-size: 16px;
	margin-bottom: 13px;
}
.container .life-left .life-content span {
	color: #666;
	font-size: 14px;
	margin-bottom: 15px;
	display: inline-block;
}
.container .life-right .latest-activity {
    margin-bottom: 51px;
    margin-top: 0;
}
.add-ar {
    margin-top: 15px;
    margin-bottom: 15px;
}
/*-- 翻页 --*/
.pagination>li {
    display: inline-block;
}
.pagination>li>a, .pagination>li>span {
	color: #666;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color: #e1e1e1;
    border-color: #e1e1e1;
   /* z-index: 3;*/
    color: #b4b4b4;
}
.pagination {
	margin: 0;
}
.page-run {
	text-align: center;
	margin-right: 0 !important;
	margin-bottom: 20px;
}
/*-- all/date --*/
.select {
    border: 1px solid #c9c9c9;
    padding: 20px 0 0px 14px;
    background-color: #fff;
    width: 703px;
}
.line-dashed {
    height: 1px;
    font-size: 1px;
    margin-bottom: 15px;
    width: 100%;
}
.select-type h2 > *, .select-type .col-sm-3 .lead > * {
    display: inline-block;
	font-size: 16px;
	color: #444;
}
.select-type li {
    display: inline-block;
}
.select-type li a:hover, .select-type li.active a {
    background: #1da1f2;
    border-radius: 2px;
    color: #fff;
}
.select-type .col-sm-9 {
    width: 80%;
}
.select-type .pull-left li a {
    padding: 3px 16px;
    margin-right: 14px;
}
.select-type li a {
    line-height: 22px;
    display: inline-block;
    margin-bottom: 3px;
    color: #666;
    font-size: 14px;
}
.select-type .input-group {
    width: 200px;
}
.select-type .input-group .gt-now {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;
}

.select-type .form-control {
    background: #fff;
    height: 28px;
}
/*-- email-us --*/
.email-all {
    background-color: #fff;
    border: 1px solid #E0E0E0;
    margin: 15px 0;        
}
.sidebar-module {
    padding: 0 15px 15px 15px;
}
.email-all h3 {
    font-size: 24px;
    color: #444;
    text-align: center;
}
.email-all .icon-line {
    display: inline-block;
    width: 94px;
    height: 2px;
    background: url(../images/line.png) no-repeat;
    margin-bottom: -1px;
}
.email-all .title-line {
    border-bottom: 1px solid #ddd;
    height: 41px;
    text-align: center;
    margin-top: 14px;
}
.sidebar-module p {
    line-height: 150%;
    font-size: 14px;
    color: #444;
    margin-top: 13px;
}
.text-muted {
    color: #999;
}
p {
    word-wrap: break-word;
    white-space: normal;
}
.email-us input[type="email"] {
    margin-top: 16px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
}
input[type="text"], input[type="email"], input[type="password"] {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: 15px;
}
.email-us button[type="submit"] {
    color: #fff;
    height: 33px;
    background: #ad9f85;
    outline: none !important;
}
.btn-all, .w-all {
    width: 100%;
}
.sidebar .btn-sub {
    font-size: 18px;
}
/*-- activity --*/
.header-nav { background-color: #fff;}
.bottom-article { background-color: #fff;}
.breadcrumb {
	font-size: 14px;
	padding-left: 0;
    padding-bottom: 12px;
    margin-bottom: 0;	
}
.breadcrumb li a { color: #666;}

.ac-left {
	width: 705px;
	float: left;
	margin-right: 15px;
}
.ac-right {
	width: 280px;
	float: left;
}
.container .img-activity {
    max-height: 140px;
    margin-bottom: 20px;
    overflow: hidden;
}
.container .writing {
    margin-top: 20px;
}
.container .range-control h2 {
    font-size: 16px;

}
.container .writing h2 a, .writing h3 a {
    color: #444;
    font-size: 14px;
}
.container .writing-container .time-stamp {
    padding-top: 10px;
}
.container .tagbala .btn, .kw .btn {
    height: 22px;
    line-height: 22px;
    padding: 0 13px;
    margin: 0 16px 6px 0;
    font-size: 14px;
    background-color: #dadada;
    border: 0 none;
    color: #666;
    display: inline-block;
    position: relative;
    border-radius: 4px;
}
.container .select-type .col-sm-3 {
    width: 20%;
}
.container .select-type .input-group {
    position: relative;
}
.container #event-dateline {
    width: 200px;
    height: 28px;
}
.container #day2 {
    position: absolute;
    right: 7px;
    top: 3px;
}
.container .range-control .uf-calendar .month {
	margin-top: 35px;
	width: 70px;
    background: #ad9f85;
    color: #fff;
    font-size: 16px;
    /*border-radius: 4px 4px 0 0;*/
    padding: 5px 0;
}
.container .range-control .uf-calendar .day {
	width: 70px;
	height: 37px;
    line-height: 35px;
    color: #ad9f85;
    font-size: 16px;
    border-top-width: 0;
    border-left: 5px solid #ad9f85;
    border-right: 5px solid #ad9f85;
    border-bottom: 5px solid #ad9f85;
}
.container .range-control p {
    font-size: 14px;
    color: #444;

}
.container .ac-list .line-dashed {
	border-bottom: 1px solid #ddd;
}
.container .ac-list .col-sm-3 {
	padding-left: 0;
    padding-right: 0;
}
.container .ac-list .col-sm-3 img {
    max-width: 100%;
    width: 185px;
}
.container .ac-right .latest-activity {
    margin-top: 15px;
}

/*-- event-details --*/
.ac-left .writing-container .writing {
    margin: 20px 0;
}
.ac-left .writing-container h1 {
    font-size: 24px;
    color: #444;
}
.ac-left .writing-container .col-sm-5 {
    width: 31%;
    padding: 0;
}
.ac-left .writing-container .writing .listings-pic {
    max-width: 214px;
    max-height: 155px;
    width: 214px;
    height: 155px;    
}
.ac-left .writing-container .writing .img-container {
    overflow: hidden;
}
.ac-left .writing-container .writing .col-sm-7 {
    width: 69%;
}
.ac-left .writing-container .data-dt, .data-dd {
    display: inline-block;
    word-break: break-all;
}
.ac-left .writing-container .col-sm-7>.serve-contact {
    padding-left: 5px;
}
.ac-left .writing-container .col-sm-7>.serve-contact .data-dt {
    width: 13%;
}
.ac-left .writing-container .col-sm-7>.serve-contact .data-dd {
    width: 72%;
}
.ac-left .writing-container .venues-list .data-dt {
    width: 13%;
    margin-left: 5px;
    vertical-align: top;
    margin-bottom: 10px;
}
.ac-left .writing-container .venues-list .data-dd {
    width: 72%;
    vertical-align: top;
    margin-bottom: 10px;
}
.ac-left .writing-container .text-muted {
    font-size: 14px;
    color: #444;
}
.ac-left .writing-container .data-dd span {
    font-size: 14px;
    color: #666;
}
.ac-left .writing-container .venues-list .serve-contact {
    padding-top: 10px;
    border-bottom: 1px solid #ddd;
}
.ac-left .writing-container p {
    color: #444;
    font-size: 16px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-top: 14px;
}
.ac-right .latest-activity {
    margin-top: 14px;
}
.ac-left #listingMapContent {
    height: 500px;
}

.tagbala .btn, .kw .btn {
    height: 22px;
    line-height: 22px;
    padding: 0 12px;
    margin: 0 6px 6px 0;
    font-size: 14px;
    background-color: #dadada;
    border: 0 none;
    color: #666;
    display: inline-block;
    position: relative;
    border-radius: 4px;
}

/*--event-details table --*/
.ac-left .text-container p {
    background-color: #dfdfdf;
    font-size: 14px;
    color: #444;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 5px;
}
.ac-left .text-container p:nth-of-type(1) {
    padding-top: 16px;
}
.ac-left .text-container p:nth-of-type(4) {
    padding-bottom: 10px;
}
.ac-left .toolbar {
    margin-top: 14px;
}
.ac-left .text-container table {
    width: 100%;
}
.ac-left .text-container tr {
    width: 100%;
    height: 34px;
}
.ac-left .text-container table td:nth-of-type(1) {
    width: 20%;
    text-align: center;
    font-size: 16px;
    color: #444;
    border-right:1px solid #ddd;
    border-bottom: 1px solid #ddd; 
}
.ac-left .text-container table td:nth-of-type(2) {
    width: 80%;
    font-size: 14px;
    color: #444;
    border-bottom: 1px solid #ddd;
    padding-left: 21px;
}
.ac-left .text-container table tr:nth-of-type(11) {
    background-color: #ad9f85;
}
.ac-left .text-container table tr:nth-of-type(13) {
    background-color: #ad9f85;
}
.ac-left .text-container table tr:nth-of-type(11) td{
    color: #fff;
}
.ac-left .text-container table tr:nth-of-type(13) td{
    color: #fff;
}
/*--event-details table end --*/

/*-- Map --*/
.layout-map {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-dark {
    font-size: 20px;
    color: #000;
}
.a-title {
    border-bottom: 1px solid #ddd;
    height: 30px;
    margin-bottom: 20px;
}
.a-title .icon-line {
    display: inline-block;
    width: 94px;
    height: 2px;
    background: url(../images/line.png) no-repeat;
    margin-bottom: 5px;
}

#listingMapContent {
    width: 705px;
    height: 350px;
}
/*-- Map end --*/

/*-- School-details --*/
.ac-left .writing-container .writing {
    margin-top: 20px;
}
.ac-left .writing-container h1 {
    font-size: 24px;
    color: #444;
}
.ac-left .writing-container .col-sm-5 {
    width: 31%;
    padding: 0;
}
.ac-left .writing-container .writing .listings-pic {
    max-width: 214px;
    max-height: 138px;
    width: 214px;
    height: 138px;    
}
.ac-left .writing-container .writing .img-container {
    overflow: hidden;
}
.ac-left .writing-container .writing .col-sm-7 {
    width: 69%;
}
.ac-left .writing-container .data-dt, .data-dd {
    display: inline-block;
    word-break: break-all;
}
.ac-left .writing-container .col-sm-7>.serve-contact {
    padding-left: 5px;
}
.ac-left .writing-container .col-sm-7>.serve-contact .data-dt {
    width: 20%;
    margin-bottom: 5px;
}
.ac-left .writing-container .col-sm-7>.serve-contact .data-dt span {
    font-size: 14px;
    color: #444;
}
.ac-left .writing-container .col-sm-7>.serve-contact .data-dd {
    width: 75%;
    margin-bottom: 5px;
}
.data-duiqi {
    margin-left: -30px !important;
}
.ac-left .writing-container .col-sm-7>.serve-contact .data-dd span {
    font-size: 14px;
    color: #666;    
}
.ac-left .writing-container .col-sm-7>.serve-contact .serve-info a {
    font-size: 14px;
    color: #ad9f85;
}
.ac-left .writing-container .col-sm-7 .share-content {
    padding: 0;
}
.ac-left table {
    widows: 100%;
    background-color: #fff;
}
.ac-left table tr {
    width: 100%;
    height: 34px;    
}
.ac-left table tr:nth-of-type(4) td {
    padding-top: 5px;
    padding-bottom: 5px;
}
.ac-left table tr:nth-of-type(6) td {
    padding-top: 5px;
    padding-bottom: 5px;
}
.ac-left table td:nth-of-type(1) {
    width: 20%;
    text-align: center;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    color: #444;
}
.ac-left table td:nth-of-type(2) {
    width: 80%;
    border-bottom: 1px solid #ddd;
    padding-left: 22px;
    font-size: 14px;
    color: #444;
}
.ac-left table tr:nth-of-type(7) td {
    border-bottom: 0;
}

.ac-left .school-content {
    width: 100%;
}
.ac-left .school-content div p:nth-of-type(1) {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    background-color: #ad9f85;
    padding-left: 16px;
}
.ac-left .school-content div p:nth-of-type(2) {
    padding: 10px 0 10px 16px;
    font-size: 14px;
    color: #666;
    background-color: #fff;
}
/*-- 图集 --*/
.carousel-inner img {
    width: 705px;
    height: 440px;
}

/*文章详情页开始*/


/*文章盒子*/
.word-container h1 {
    font-size: 24px;
    color: #444;
    font-weight: 900;
    margin: 20px 0 16px 0;
}

.word-container span {
    display: inline-block;
    font-size: 16px;
    color: #444;
    margin-bottom: 13px;
}

/*分享部分*/
.toolbar {
    float: right;
}
.toolbar li {
    width: 32px;
    height: 32px;
    float: left;
    margin-left: 10px; 
    cursor: pointer;
}

.toolbar li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.toolbar li:hover {
    opacity: 0.9;
}

.toolbar .one {
    background: url(../images/share.png) no-repeat 0 0;
}

.toolbar .two {
    background: url(../images/share.png) no-repeat -45px 0;
}

.toolbar .three {
    background: url(../images/share.png) no-repeat -90px 0;
}

.toolbar .four {
    background: url(../images/share.png) no-repeat -135px 0;
}

.toolbar .five {
    background: url(../images/share.png) no-repeat -180px 0;
}

.share-content {
    padding: 20px 0 26px 0;
}

.word-content p,#article-details .word-content div {
    color: #444;
    font-size: 16px;
    margin-bottom: 40px;
}

.word-content div:nth-child(2) {
    margin-bottom: 30px;
}

.share-content span {
    float: left;
    color: #444;
    font-size: 14px;
}

.share-content span:nth-child(2){
    margin-left: 72px;
}

.share-content>a {
    display: inline-block;
    float: left;
    color: #797979;
    font-size: 14px;
    background-color: #e1e1e1;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 11px;
}

/*相关文章*/
.related-articles {
    height: 360px;
}

.related-articles .title {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #DFDFDF;
    position: relative;
}

.related-articles .title span {
    font-size: 24px;
    color: #444;
}

.related-articles .title a {
    color: #ABA084;
    font-style: 16px;
    float: right;
}

.related-articles .title .line {
    display: inline-block;
    width: 94px;
    height: 2px;
    background: url(../images/line.png) no-repeat;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.related-articles .content {
    padding-top: 20px;
}

.related-articles .articles-box {
    width: 316px;
    height: 274px;
    float: left;
    margin-right: 26px;
}

.related-articles .articles-box:nth-child(3) {
    margin-right: 0;
}

.related-articles .articles-info {
    border: 1px solid #DFDFDF;
    border-top: none;
}

.related-articles .articles-info h3 {
    font-size: 16px;
    color: #444;
    text-align: center;
    padding: 13px 15px;
}

.related-articles .articles-info p {
    font-size: 14px;
    color: #666;
    text-align: center;
    padding-bottom: 15px;
}

/*侧边栏*/
.latest-activity {
    height: auto;
}

.ad-sli {
    margin-top: 15px;
}

/*文章详情页结束*/

/*-- school-list --*/
.ac-left .list-type {
    width: 20%;
}

.ac-left .list-all {
    width: 80%;
}
.select .select-type:nth-of-type(1) {
    margin-bottom: 10px;
}
.list-all li a {
    margin-right: 10px;
}

.list-all .select-sort {
    margin-top: 15px;
    margin-bottom: 15px;
}
.select-sort a.active {
    background: #1da1f2;
    padding: 3px 10px;
    border-radius: 4px;
    color: #fff;
}
.select-sort li {
    margin-right: 20px;
}
.select-sort li a {
    color: #000;   
}

.school-info {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.school-info .writing {
    margin-right: 0;
}
.school-info .writing .col-sm-4 {
    padding-left: 0;
}
.school-info .col-sm-8 {
    padding: 0;    
}
.school-info .zo a {
    font-size: 16px;
    color: #444;
    font-weight: bold;
    padding: 0;
    margin-bottom: 15px;
    display: inline-block;
}
.writing .img-container {
    max-height: 158px;
    margin-bottom: 20px;
    overflow: hidden;
}
.img-container > a > img {
    width: 100%;
    max-width: 100%;
}
.writing .d-zh {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
.writing .dz {
    width: 23%;
    padding: 0; 
}
.writing .dh {
    padding: 0; 
}
.writing p {
    font-size: 14px;
    padding-bottom: 13px;
}
.writing .dz p {
    color: #444;
}
.writing .dh p {
    color: #666;
}
.writing .xf {
    width: 40%;
    padding-right: 0;
}
.writing .bj {
    width: 35%;
    padding-left: 10px;
}
.writing .xq {
    width: 15%;
    height: 27px;
    line-height: 24px;
    padding: 0;
    text-align: center;
    border: 1px solid #01a4e3;
    background-color: #01a4e3;
    border-radius: 4px;
    margin-top: 13px;
    margin-left: 8px;
}
.writing .xq p a {
    font-size: 14px;
    color: #fff;
}
.writing .col-md-4 p {
    font-size: 14px;
    color: #01a4e3;
}
.writing .col-md-4 p span {
    color: #666;
}







/***================  响应式  ================***/

@media screen and (max-width:768px) {
    /*-- quality-life --*/
    .header {
        display: none;
    }
    .header-nav {
        display: none;
    }
    .logo-content .logo-icon {
        display: none;
    }
    .logo-content {
        display: none;
    }
    .banxin {
        width: 100%;
    }
    .banxin img {
        width: 100%;
        margin-top: 45px;
    }

    .carousel-inner img {
        margin-top: 0;
    }

    .Carousel-box {
        display: none;
    }
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .container .life-left {
        width: 100%;
    }
    .container .life-left .life-content {
        width: 100%;
    }
    .container .life-left .life-content img {
        width: 100%;

    }
    .container .life-right {
        width: 100%;
        margin-left: 0;
    }
    .container .life-right .banner {
        width: 100%;
        text-align: center;
    }
    .container .life-right .banner img {
        width: 100%;
    }

    /*-- activity --*/
    .container .select-type .col-sm-3 {
        width: 25%;
    }
    .container .select-type .col-sm-9 {
        width: 75%;
        overflow: hidden;
    }
    .ac-list .col-xs-7 {
        width: 25%;
    }
    .page-run {
        width: 100%;
    }
    .ac-left {
        width: 100%;
    }
    .ac-right > a img {
        display: none;
    }
    .ac-right {
        width: 100%;
    }
    .select {
        width: 100%;
    }
    .ac-list {
        width: 100%;
    }
    .ac-list .writing {
        padding: 0 15px;
    }
    .ac-list .writing .col-sm-3 {
        width: 31%;
    }
    .ac-list .writing .col-sm-7 {
        width: 47%;
        padding-right: 0;
    }
    /*-- home-page --*/
    .articles-list {
        width: 100%;
    }
    .Carousel-box {
        width: 100%;
    }
    .articles-list .articles-left .articles-listing {
        width: 100%;
    }
    .articles-list .articles-left {
        width: 100%;
    }
    .articles-listing-title {
        width: 100%;
    }


    /*-- event-details --*/   
    .ac-left .writing-container .writing .col-sm-7 {
        width: 105%;
        padding-left: 0;
    }
    .ac-left #listingMapContent {
        width: 100%;
    }
    .ad-sidergt img {
        width: 100%;
    }
    .data-duiqi {
        margin-left: -6% !important;
    }

    /*-- school-details --*/
    #myCarousel .carousel-inner img {
        height: 290px;
    }

    /*-- school-list --*/
    .school-info .writing .col-sm-4 {
        padding-left: 15px;
        padding-right: 0;
        width: 100%;
    } 

    .school-info .col-sm-4 {
        width: 100%;
    }
    .school-info .col-sm-4 img {
        width: ;
    }
    .school-info .col-sm-8 {
        width: 100%;
        padding-left: 15px;
    }
    .writing .xf {
        width: 48%;
    }
    .writing .bj {
        width: 45%;
    }
    .writing .xq {
        width: 20%;
    }

    .school-list row {
        width: 100%;
    }
    .container .school-list .select-type .col-sm-3 {
        width: 25%;
    }
    .container .school-list .select-type .col-sm-9 {
        width: 100%;
    }

    /*-- article-details --*/
    .word-content img {
        width: 100%;
    }
    .related-articles .content {
        padding: 0;
    }
    .related-articles .articles-box {
        margin-left: 26px;
    }
    .articles-box {
        margin-bottom: 20px;
    }

    
    /*-- footer  --*/
    .footer {
        display: none;
    }
    .bottom-article {
        display: none;
    }

 
}


