
/*-- quality-life --*/
.container {
	width: 1000px;
	margin: 0 auto;
	padding: 0;	
	overflow: hidden;
}
#quality-life .container .life-left {
	width: 705px;
	float: left;
}
#quality-life .container .life-right {
	width: 280px;
	float: left;
	margin-left: 15px;
}
#quality-life .container .articles-listing-title {
	margin-bottom: 20px;
}
#quality-life .container .life-left .life-content:nth-of-type(even) {
	margin-right: 25px;
}
#quality-life .container .life-left .life-content {
	width: 340px;
	text-align: center;
	float: left;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}
#quality-life .container .life-left .life-content img {
	margin-bottom: 13px;
}
#quality-life .container .life-left .life-content p {
	color: #444;
	font-size: 16px;
	margin-bottom: 13px;
}
#quality-life .container .life-left .life-content span {
	color: #666;
	font-size: 14px;
	margin-bottom: 15px;
	display: inline-block;
}
#quality-life .container .life-right .latest-activity {
    margin-bottom: 51px;
    margin-top: 0;
}
/*-- 翻页 --*/
.pagination>li {
    display: inline-block;
}
.pagination>li>a, .pagination>li>span {
	color: #666;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color: #e1e1e1;
    border-color: #e1e1e1;
   /* z-index: 3;*/
    color: #b4b4b4;
}
.pagination {
	margin: 0;
}
.page-run {
	text-align: center;
	margin-right: 0 !important;
	margin-bottom: 20px;
}
/*-- all/date --*/
.select {
    border: 1px solid #c9c9c9;
    padding: 0 10px 10px;
    background-color: #fff;
    width: 703px;
    height: 134px;
}
.line-dashed {
    height: 1px;
    font-size: 1px;
    margin-bottom: 15px;
    width: 100%;
}
.select-type h2 > *, .select-type .col-sm-3 .lead > * {
    display: inline-block;
	font-size: 16px;
	color: #444;
}
.select-type li {
    display: inline-block;
}
.select-type li a:hover, .select-type li.active a {
    background: #1da1f2;
    border-radius: 2px;
    color: #fff;
}
.select-type .pull-left li a {
    padding: 1px 16px;
}
.select-type li a {
    line-height: 22px;
    display: inline-block;
    margin-bottom: 3px;
    color: #666;
    font-size: 14px;
}
.select-type .input-group {
    width: 200px;
}
.select-type .input-group .gt-now {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.select-type .form-control {
    background: #fff;
    height: 28px;
}
/*-- email-us --*/
.email-all {
    background-color: #fff;
    border: 1px solid #E0E0E0;
    margin: 15px 0;        
}
.sidebar-module {
    padding: 0 15px 15px 15px;
}
.email-all h3 {
    font-size: 24px;
    color: #444;
    text-align: center;
}
.email-all .icon-line {
    display: inline-block;
    width: 94px;
    height: 2px;
    background: url(../images/line.png) no-repeat;
    margin-bottom: -1px;
}
.email-all .title-line {
    border-bottom: 1px solid #ddd;
    height: 41px;
    text-align: center;
    margin-top: 14px;
}
.sidebar-module p {
    line-height: 150%;
    font-size: 14px;
    color: #444;
    margin-top: 13px;
}
.text-muted {
    color: #999;
}
p {
    word-wrap: break-word;
    white-space: normal;
}
.email-us input[type="email"] {
    margin-top: 16px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
}
input[type="text"], input[type="email"], input[type="password"] {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: 15px;
}
.email-us button[type="submit"] {
    color: #fff;
    height: 33px;
    background: #ad9f85;
    outline: none !important;
}
.btn-all, .w-all {
    width: 100%;
}
.sidebar .btn-sub {
    font-size: 18px;
}
/*-- activity --*/
#activity { background-color: #F5F5F5;}
#activity .header-nav { background-color: #fff;}
#activity .bottom-article { background-color: #fff;}
.breadcrumb {
	font-size: 14px;
	padding-left: 0;
    padding-bottom: 12px;
    margin-bottom: 0;	
}
.breadcrumb li a { color: #666;}

.ac-left {
	width: 705px;
	float: left;
	margin-right: 15px;
}
.ac-right {
	width: 280px;
	float: left;
}

#activity .container .writing {
    margin: 20px 0;
}
#activity .container .range-control h2 {
    font-size: 16px;

}
#activity .container .writing h2 a, .writing h3 a {
    color: #444;
    font-size: 14px;
}
#activity .container .writing-container .time-stamp {
    padding-top: 10px;
}
#activity .container .tagbala .btn, .kw .btn {
    height: 22px;
    line-height: 22px;
    padding: 0 13px;
    margin: 0 16px 6px 0;
    font-size: 14px;
    background-color: #dadada;
    border: 0 none;
    color: #666;
    display: inline-block;
    position: relative;
    border-radius: 4px;
}
#activity .container .range-control .uf-calendar .month {
	margin-top: 35px;
	width: 70px;
    background: #1da1f2;
    color: #fff;
    font-size: 16px;
    /*border-radius: 4px 4px 0 0;*/
    padding: 5px 0;
}
#activity .container .range-control .uf-calendar .day {
	width: 70px;
	height: 37px;
    line-height: 35px;
    color: #1da1f2;
    font-size: 16px;
    border-top-width: 0;
    border-left: 5px solid #1da1f2;
    border-right: 5px solid #1da1f2;
    border-bottom: 5px solid #1da1f2;
}
#activity .container .range-control p {
    font-size: 14px;
    color: #444;

}
#activity .container .ac-list .line-dashed {
	border-bottom: 1px solid #ddd;
}
#activity .container .ac-list .col-sm-3 {
	padding-left: 0;
}
#activity .container .ac-right .latest-activity {
    margin-top: 15px;
}

/*-- event-details --*/
#event-details {
    background-color: #F5F5F5;
}
#event-details .ac-left .writing-container .writing {
    margin: 20px 0;
}
#event-details .ac-left .writing-container h1 {
    font-size: 24px;
    color: #444;
}
#event-details .ac-left .writing-container .col-sm-5 {
    width: 31%;
    padding: 0;
}
#event-details .ac-left .writing-container .writing .listings-pic {
    max-width: 214px;
    max-height: 155px;
    width: 214px;
    height: 155px;    
}
#event-details .ac-left .writing-container .writing .img-container {
    overflow: hidden;
}
#event-details .ac-left .writing-container .listings-pic img {   
    // width: auto !important;
    // height: 100%;    
}
#event-details .ac-left .writing-container .writing .col-sm-7 {
    width: 69%;
}
#event-details .ac-left .writing-container .data-dt, .data-dd {
    display: inline-block;
    word-break: break-all;
}
#event-details .ac-left .writing-container .col-sm-7>.serve-contact {
    padding-left: 5px;
}
#event-details .ac-left .writing-container .col-sm-7>.serve-contact .data-dt {
    width: 13%;
}
#event-details .ac-left .writing-container .col-sm-7>.serve-contact .data-dd {
    width: 72%;
}
#event-details .ac-left .writing-container .venues-list .data-dt {
    width: 13%;
    margin-left: 5px;
    vertical-align: top;
    margin-bottom: 10px;
}
#event-details .ac-left .writing-container .venues-list .data-dd {
    width: 72%;
    vertical-align: top;
    margin-bottom: 10px;
}
#event-details .ac-left .writing-container .text-muted {
    font-size: 14px;
    color: #444;
}
#event-details .ac-left .writing-container .data-dd span {
    font-size: 14px;
    color: #666;
}
#event-details .ac-left .writing-container .venues-list .serve-contact {
    padding-top: 10px;
    border-bottom: 1px solid #ddd;
}
#event-details .ac-left .writing-container p {
    color: #444;
    font-size: 16px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-top: 14px;
}
.tagbala .btn, .kw .btn {
    height: 22px;
    line-height: 22px;
    padding: 0 12px;
    margin: 0 6px 6px 0;
    font-size: 14px;
    background-color: #dadada;
    border: 0 none;
    color: #666;
    display: inline-block;
    position: relative;
    border-radius: 4px;
}

/*--#event-details table --*/
#event-details .ac-left .text-container p {
    background-color: #dfdfdf;
    font-size: 14px;
    color: #444;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 5px;
}
#event-details .ac-left .text-container p:nth-of-type(1) {
    padding-top: 16px;
}
#event-details .ac-left .text-container p:nth-of-type(4) {
    padding-bottom: 10px;
}
#event-details .ac-left .toolbar {
    margin-top: 14px;
}
#event-details .ac-left .text-container table {
    width: 100%;
}
#event-details .ac-left .text-container tr {
    width: 100%;
    height: 34px;
}
#event-details .ac-left .text-container table td:nth-of-type(1) {
    width: 20%;
    text-align: center;
    font-size: 16px;
    color: #444;
    border-right:1px solid #ddd;
    border-bottom: 1px solid #ddd; 
}
#event-details .ac-left .text-container table td:nth-of-type(2) {
    width: 80%;
    font-size: 14px;
    color: #444;
    border-bottom: 1px solid #ddd;
    padding-left: 21px;
}
#event-details .ac-left .text-container table tr:nth-of-type(11) {
    background-color: #ad9f85;
}
#event-details .ac-left .text-container table tr:nth-of-type(13) {
    background-color: #ad9f85;
}
#event-details .ac-left .text-container table tr:nth-of-type(11) td{
    color: #fff;
}
#event-details .ac-left .text-container table tr:nth-of-type(13) td{
    color: #fff;
}
/*--#event-details table end --*/

/*-- Map --*/
.layout-map {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-dark {
    font-size: 20px;
    color: #000;
}
.a-title {
    border-bottom: 1px solid #ddd;
    height: 30px;
    margin-bottom: 20px;
}
.a-title .icon-line {
    display: inline-block;
    width: 94px;
    height: 2px;
    background: url(../images/line.png) no-repeat;
    margin-bottom: 5px;
}
/*-- Map end --*/

/*-- School-details --*/
#school-details {
    background-color: #F5F5F5;
}
#school-details .ac-left .writing-container .writing {
    margin-top: 20px;
}
#school-details .ac-left .writing-container h1 {
    font-size: 24px;
    color: #444;
}
#school-details .ac-left .writing-container .col-sm-5 {
    width: 31%;
    padding: 0;
}
#school-details .ac-left .writing-container .writing .listings-pic {
    max-width: 214px;
    max-height: 138px;
    width: 214px;
    height: 138px;    
}
#school-details .ac-left .writing-container .writing .img-container {
    overflow: hidden;
}
#school-details .ac-left .writing-container .writing .col-sm-7 {
    width: 69%;
}
#school-details .ac-left .writing-container .data-dt, .data-dd {
    display: inline-block;
    word-break: break-all;
}
#school-details .ac-left .writing-container .col-sm-7>.serve-contact {
    padding-left: 5px;
}
#school-details .ac-left .writing-container .col-sm-7>.serve-contact .data-dt {
    width: 20%;
    margin-bottom: 5px;
}
#school-details .ac-left .writing-container .col-sm-7>.serve-contact .data-dt span {
    font-size: 14px;
    color: #444;
}
#school-details .ac-left .writing-container .col-sm-7>.serve-contact .data-dd {
    width: 75%;
    margin-bottom: 5px;
}
#school-details .ac-left .writing-container .col-sm-7>.serve-contact .data-dd span {
    font-size: 14px;
    color: #666;    
}
#school-details .ac-left .writing-container .col-sm-7>.serve-contact .serve-info a {
    font-size: 14px;
    color: #ad9f85;
}
#school-details .ac-left .writing-container .col-sm-7 .share-content {
    padding: 0;
}
#school-details .ac-left table {
    widows: 100%;
    background-color: #fff;
}
#school-details .ac-left table tr {
    width: 100%;
    height: 34px;    
}
#school-details .ac-left table tr:nth-of-type(4) td {
    padding-top: 5px;
    padding-bottom: 5px;
}
#school-details .ac-left table tr:nth-of-type(6) td {
    padding-top: 5px;
    padding-bottom: 5px;
}
#school-details .ac-left table tr td:nth-of-type(1) {
    width: 20%;
    text-align: center;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    color: #444;
}
#school-details .ac-left table tr td:nth-of-type(2) {
    width: 80%;
    border-bottom: 1px solid #ddd;
    padding-left: 22px;
    font-size: 14px;
    color: #444;
}

#school-details .ac-left .school-content {
    width: 100%;
}
#school-details .ac-left .school-content div p:nth-of-type(1) {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    background-color: #ad9f85;
    padding-left: 16px;
}
#school-details .ac-left .school-content div p:nth-of-type(2) {
    padding: 10px 0 10px 16px;
    font-size: 14px;
    color: #666;
    background-color: #fff;
}

/*文章详情页开始*/


/*文章盒子*/
#article-details .word-container h1 {
    font-size: 24px;
    color: #444;
    font-weight: 900;
    margin: 20px 0 16px 0;
}

#article-details .word-container span {
    display: inline-block;
    font-size: 16px;
    color: #444;
    margin-bottom: 13px;
}

/*分享部分*/
.toolbar {
    float: right;
}
.toolbar li {
    width: 32px;
    height: 32px;
    float: left;
    margin-left: 10px; 
}

.toolbar li:hover {
    opacity: 0.9;
}

.toolbar .one {
    background: url(../images/share.png) no-repeat 0 0;
}

.toolbar .two {
    background: url(../images/share.png) no-repeat -45px 0;
}

.toolbar .three {
    background: url(../images/share.png) no-repeat -90px 0;
}

.toolbar .four {
    background: url(../images/share.png) no-repeat -135px 0;
}

.toolbar .five {
    background: url(../images/share.png) no-repeat -180px 0;
}

.share-content {
    padding: 20px 0 26px 0;
}

#article-details .word-content p,#article-details .word-content div {
    color: #444;
    font-size: 16px;
    margin-bottom: 40px;
}

#article-details .word-content div:nth-child(2) {
    margin-bottom: 30px;
}

#article-details .share-content span {
    float: left;
    color: #444;
    font-size: 14px;
}

#article-details .share-content span:nth-child(2){
    margin-left: 72px;
}

#article-details .share-content>a {
    display: inline-block;
    float: left;
    color: #797979;
    font-size: 14px;
    background-color: #e1e1e1;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 11px;
}

/*相关文章*/
#article-details .related-articles {
    height: 360px;
    // background-color: pink;
}

#article-details .related-articles .title {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #DFDFDF;
    position: relative;
}

#article-details .related-articles .title span {
    font-size: 24px;
    color: #444;
}

#article-details .related-articles .title a {
    color: #ABA084;
    font-style: 16px;
    float: right;
}

#article-details .related-articles .title .line {
    display: inline-block;
    width: 84px;
    height: 2px;
    background: url(../images/line.png) no-repeat;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.related-articles .articles-box {
    width: 316px;
    height: 274px;
}

.related-articles .articles-info {
    border: 1px solid #DFDFDF;
    border-top: none;
}

.related-articles .articles-info 

/*侧边栏*/
#article-details .latest-activity {
    height: auto;
}

#article-details .ad-sli {
    margin-top: 15px;
}




/*文章详情页结束*/

